
@model SCPCFinal.Models.PEPModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"  href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>

<script>

$("#botaoTeste").click(BuscarNome);

    function BuscarNome() {
                console.log("BuscarNome");
                 $.ajax({
                    type: 'GET'
                    , url: "@Url.Action("GetNomeTeste", "Principal")"
                    , contentType: 'application/json; charset=utf-8'
                    , dataType: 'json'
                     , data: { "nome": "drico" }
                    , async: false
                    , success: function (objRetorno) {
                        //BootstrapDialog.hideCarregando();
                        //console.log(oDados);
                        if (objRetorno != "") {
                            
                            console.log(objRetorno);
                            //if (oDados.dados[0]._cdTipoCEP == "5") { //CEP cidade
                            //   // $("#Endereco").prop("disabled",false);
                            //    //$("#Bairro").prop("disabled", false);
                            //}
                            //else {
                            //    //$("#Endereco").prop("disabled", true);
                            //   // $("#Bairro").prop("disabled", true);
                            //    console.log("TIPOLOG"+oDados.dados[0]._tipoLogradouro);
                            //    $("#TipoLogradouro").val(oDados.dados[0]._tipoLogradouro);
                            //    $("#Logradouro").val(oDados.dados[0]._endereco);
                            //    $("#Bairro").val(oDados.dados[0]._bairro);
                            //}

                            //$("#Cidade").val(oDados.dados[0]._municipio);
                            //$("#Uf").val(oDados.dados[0]._uf);
                            //$("#_ID_IBGE").val(oDados.dados[0]._numeroIBGE);
                        }
                        else {
                            //BootstrapDialog.alert("Não foi possível localizar o CEP informado, por favor revise os dados.");
                        }
                    }
                     , error: function (xmlHttpRequest, status, err) {
                         //BootstrapDialog.hideCarregando();
                         //BootstrapDialog.alert("Não foi possível localizar o CEP informado.Erro 1.1");
                     }, complete: function (xmlHttpRequest, status, err) {
                         //BootstrapDialog.hideCarregando();
                     }, fail: function (xmlHttpRequest, status, err) {
                         //BootstrapDialog.alert("Não foi possível localizar o CEP informado.fail 1.2");
                         //BootstrapDialog.hideCarregando();
                     },
                 }).fail(function () {
                    //BootstrapDialog.hideCarregando();
                    //BootstrapDialog.alert("Não foi possível alterar os dados do endereço.fail 1.3");
                });
            }


    $(function () {
            $("#botaoProntuario").click(function () {
                var data = [
                    [
                        "Tiger Nixon",
                        "System Architect",
                        "Edinburgh",
                        "5421",
                        "2011/04/25",
                        "$3,120"
                    ],
                    [
                        "Garrett Winters",
                        "Director",
                        "Edinburgh",
                        "8422",
                        "2011/07/25",
                        "$5,300"
                    ]
                ]

                var table = $('#BuscaPaciente').DataTable({
                    "proccessing": true,
                    "serverSide": true,
                    "ajax": {
                        url: "@Url.Action("BuscaPaciente", "Home")",
                        type: 'POST'
                    },
                    "language": {
                        "search": "",
                        "searchPlaceholder": "Search..."
                    },

                    data: data   
                   
                    
                });
                
                

                $('#id01').show();
            });
     });

 </script>

</head>

<body class="corpo">
    @{using(Html.BeginForm("PEP", "Home", FormMethod.Get, new { id = "codpac" }))}


<div class="cabecalho">  
  <div class="logo-sc"><img src="/img/logo-santa-casa.png" ></div>
    
  <div id="containerProntuario">  

              <button id="botaoTeste" name="botaoTeste" onclick="BuscarNome()">Teste</button>
            <input type="text" class="inputProntuario" placeholder="Buscar Prontuário" name="prontuário">  
            <!--<button type="submit" value="Submit" asp-page-handler="Submit" id="botaoProntuario"><span class="material-symbols-outlined">search</span></button>
            -->
            <button id="botaoProntuario"><span class="material-symbols-outlined">search</span></button>
        

    </div>
 
</div> 
  <div class="tab">
    
    <button class="tablinks" onclick="mudarAba(event, 'formulario')">Formulário</button>
    <button class="tablinks" onclick="mudarAba(event, 'consumos')">Consumos</button>
    <button class="tablinks" onclick="mudarAba(event, 'exames')">Exames</button>
    <button class="tablinks" onclick="mudarAba(event, 'procurar-pacientes')">Procurar Pacientes</button>
    <button class="tablinks" onclick="mudarAba(event, 'prescrição')">Prescrição</button>
  </div>

  <div id="formulario" class="tabcontent"> 
     
    <table class="tabelaformulario">
      <tr><td id="tdcoluna1">
          <form class="coluna1">
            <label for="prontuario">Prontuário</label>
            <input type="text" id="prontuario" class="input-padrao"> 

            <label for="paciente">Paciente</label>
            <input type="text" id="paciente" class="input-padrao"> 

            <label for="nomesocial">Nome Social</label>
            <input type="text" id="nomesocial" class="input-padrao" value="@Html.DisplayFor(m => m.formulario.NomeSocial)"> 

            <div class="datanascimento">
                <label for="datanascimento">Nascimento</label>
                <input type="text" id="datanascimento" class="input-padrao" placeholder="XX/XX/XXXX"> 
            </div>
            
            <div class="idade">
                <label for="idade">Idade</label>
                <input type="number" id="idade" class="input-padrao">
            </div>
            

            

            <div class="endereço">
                <label for="endereço">Endereço</label>
                <input type="text" id="endereço" class="input-padrao">
            </div>

            <div class="numero">

                <label for="numero">Nº</label>
                <input id="numero" type="number" id="numero" class="input-padrao">
            </div>

            

        </form>
        </td>
        
        <td id="tdcoluna2">
        <form class="coluna2">  
          <label for="bairro">Bairro</label>
            <input type="text" id="bairro" class="input-padrao">

            <label for="municipio">Município</label>
            <input type="text" id="municipio" class="input-padrao">

            <label for="cep">CEP</label>
            <input type="text" id="cep" class="input-padrao"  placeholder="XXXXX-XXX">

            <label for="estadocivil">Estado Civil</label>
            <input type="text" id="estadocivil" class="input-padrao">

            <div class="fieldset" id="uf">
                    <legend>UF</legend>
                    <select>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AM">AM</option>
                        <option value="AP">AP</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MT">MT</option>
                        <option value="MS">MS</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select>
                  </div>

                 

        </form>
        </td>

        <td id="tdcoluna3">
          <form class ="coluna3">
          
            <label for="pai">Pai</label>
            <input type="text" id="pai" class="input-padrao">

            <label for="mae">Mãe</label>
            <input type="text" id="mae" class="input-padrao">

            <label for="raça">Raça/Cor</label>
            <input type="text" id="raça" class="input-padrao">
            
            <label for="conjuge">Cônjuge</label>
            <input type="text" id="conjuge" class="input-padrao">
            
            <div class="fieldset">
              <legend>Sexo</legend>
              <div id="labelgenero">
              <label style="font-weight: lighter;" for="radio-masculino"><input type="radio" name=sexo value="M" id="radio-masculino" class="genero" checked> Masculino</label>
              <label style="font-weight: lighter;" for="radio-feminino"><input type="radio" name=sexo value="F" id="radio-feminino" class="genero"> Feminino</label>
              </div>
            </div>
          </form>
                
        </td>

        <td id="tdcoluna4">
          <form class="coluna4">

          <label for="profissao">Profissão</label>
          <input type="text" id="profissao" class="input-padrao">

          <label for="rg">RG</label>
          <input type="text" id="rg" class="input-padrao">

          <label for="cpf">CPF</label>
          <input type="text" id="cpf" class="input-padrao">

          <label for="telefone">Telefone</label>
          <input type="text" id="telefone" class="input-padrao" placeholder="(XX) XXXXX-XXXX" pattern="+94[7-9]{2}-[0-9]{3}-[0-9]{4}">

          <label for="observacao">Observação</label>
          <textarea cols="5" rows="1" id="obsevacao" class="input-padrao"></textarea>
                                                    
          </form>
          
        </td>
        
      </tr>
      
      
    </table>
    <div class="botaoenviar">
      <input type="submit" name=contato value="Salvar formulário" class="enviar">  
    </div>
  
  </div>

  
  
 
    <div class="tabcontent" id="consumos">

      <div class="navbar">
        <a href="#" onclick="mudarAba(event, 'consumos-produtos')">Produtos</a>
        
        <a href="#" onclick="mudarAba(event, 'consumos-serviços')">Serviços</a>        
          
      </div>
                
    </div>
    
    
  
  
  <div id="consumos-produtos" class="tabcontent">
    <table>
      <tr>
        <th>Data</th>
        <th>Código</th>
        <th>Produto</th>
        <th>Unidade</th>
        <th>Qtde</th>
        <th>Centro de Custo</th>
      </tr>

      @if(Model.consumoProdutos is not null){
            
            @foreach(var item in Model.consumoProdutos)
            {
                <tr>
                    <td>@item.Data</td>
                    <td>@item.Codigo</td>
                    <td>@item.Descricao</td>

                    <td>@item.Unidade</td>
                    <td>@item.Quantidade</td>
                    <td>@item.CentroCusto</td>
                </tr>
            }
      }

    </table>
  </div>

  <div id="consumos-serviços" class="tabcontent">
        
    <table>
      <tr>
        <th>Data</th>
        <th>Código</th>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Centro de Serviço</th>
      </tr>

      @if(Model.consumoServicos is not null){
            
            @foreach(var item in Model.consumoServicos)
            {
                <tr>
                    <td>@item.Data</td>
                    <td>@item.Codigo</td>
                    <td>@item.Descricao</td>
                    <td>@item.Quantidade</td>
                    <td>@item.CentroDeServico</td>
                </tr>
            }
      }      

      </table>
  </div>

  <div id="exames" class="tabcontent">
    <h3>Exames</h3>
    
    <table>
      <tr>
        <th>Atend.</th>
        <th>Tipo</th>
        <th>Requisição</th>
        <th>Médico Solicitante</th>
        <th>Data Req.</th>
        <th>Código</th>
        <th>Item</th>
        <th>Exame</th>
        <th>RN</th>
        <th>Qtde</th>
        <th>Data Realização</th>
        <th>Prestador Exame</th>
        <th>PDF</th>
        <th>Responsável Liberação</th>
      </tr>

      <tr>
        <td>1596462</td>
        <td>I</td>
        <td>997207</td>
        <td>GUILHERME GODOY DE SIQUEIRA</td>
        <td>14/05/2022 12:41:00</td>       
        <td>000000</td>       
        <td>1</td>       
        <td>LEITE MATERNO</td>       
        <td>S</td>       
        <td>1</td>       
        <td>15/05/2022 16:11:00</td>       
        <td>WARELINE</td>       
        <td>N</td>       
        <td>MARLI POLONI BRUZADELLI</td>       
      </tr>

      <tr>
        <td>1596462</td>
        <td>I</td>
        <td>997207</td>
        <td>GUILHERME GODOY DE SIQUEIRA</td>
        <td>14/05/2022 12:41:00</td>       
        <td>000000</td>       
        <td>1</td>       
        <td>LEITE MATERNO</td>       
        <td>S</td>       
        <td>1</td>       
        <td>15/05/2022 16:11:00</td>       
        <td>WARELINE</td>       
        <td>N</td>       
        <td>MARLI POLONI BRUZADELLI</td>       
      </tr>
      
      <tr>
        <td>1596462</td>
        <td>I</td>
        <td>997207</td>
        <td>GUILHERME GODOY DE SIQUEIRA</td>
        <td>14/05/2022 12:41:00</td>       
        <td>000000</td>       
        <td>1</td>       
        <td>LEITE MATERNO</td>       
        <td>S</td>       
        <td>1</td>       
        <td>15/05/2022 16:11:00</td>       
        <td>WARELINE</td>       
        <td>N</td>       
        <td>MARLI POLONI BRUZADELLI</td>       
      </tr>
      
      <tr>
        <td>1596462</td>
        <td>I</td>
        <td>997207</td>
        <td>GUILHERME GODOY DE SIQUEIRA</td>
        <td>14/05/2022 12:41:00</td>       
        <td>000000</td>       
        <td>1</td>       
        <td>LEITE MATERNO</td>       
        <td>S</td>       
        <td>1</td>       
        <td>15/05/2022 16:11:00</td>       
        <td>WARELINE</td>       
        <td>N</td>       
        <td>MARLI POLONI BRUZADELLI</td>       
      </tr>

      </table>
      <h3>teste</h3>
      <textarea cols="5" rows="10" id="mensagem" class="input-padrao2" required></textarea>
  </div>

  <div id="procurar-pacientes" class="tabcontent">
    <h3>Procurar Pacientes</h3>
    
    <table>
      <tr>
        <th>Tipo</th>
        <th>Num. Atend.</th>
        <th>Nome Paciente</th>
        <th>Idade</th>
        <th>Prontuário</th>
        <th>Plano</th>
        <th>Leito</th>
        <th>Sit</th>
        <th>Serv.</th>
        <th>Data Atend.</th>
        <th>Num. Altern.</th>
        <th>Esp</th>
        <th>Setor</th>
        <th>Matrícula</th>
        <th>Médico</th>
      </tr>

      <tr>
        <td>I</td>
        <td>1620668</td>
        <td>ADELAIDE DINIZ BECKER</td>
        <td>50</td>
        <td>00157977</td>
        <td>SIH</td>       
        <td>216-1</td>       
        <td>S</td>       
        <td>IG</td>       
        <td>07/07/2022 07:44</td>       
        <td>I0013611</td>       
        <td>018</td>       
        <td>000004</td>       
        <td>1276351276</td>       
        <td>JOSÉ ELIAS GALIL</td>       
      </tr>

      <tr>
        <td>I</td>
        <td>1620668</td>
        <td>ADELAIDE DINIZ BECKER</td>
        <td>50</td>
        <td>00157977</td>
        <td>SIH</td>       
        <td>216-1</td>       
        <td>S</td>       
        <td>IG</td>       
        <td>07/07/2022 07:44</td>       
        <td>I0013611</td>       
        <td>018</td>       
        <td>000004</td>       
        <td>1276351276</td>       
        <td>JOSÉ ELIAS GALIL</td>       
      </tr>
      
      <tr>
        <td>I</td>
        <td>1620668</td>
        <td>ADELAIDE DINIZ BECKER</td>
        <td>50</td>
        <td>00157977</td>
        <td>SIH</td>       
        <td>216-1</td>       
        <td>S</td>       
        <td>IG</td>       
        <td>07/07/2022 07:44</td>       
        <td>I0013611</td>       
        <td>018</td>       
        <td>000004</td>       
        <td>1276351276</td>       
        <td>JOSÉ ELIAS GALIL</td>       
      </tr>
      
      <tr>
        <td>I</td>
        <td>1620668</td>
        <td>ADELAIDE DINIZ BECKER</td>
        <td>50</td>
        <td>00157977</td>
        <td>SIH</td>       
        <td>216-1</td>       
        <td>S</td>       
        <td>IG</td>       
        <td>07/07/2022 07:44</td>       
        <td>I0013611</td>       
        <td>018</td>       
        <td>000004</td>       
        <td>1276351276</td>       
        <td>JOSÉ ELIAS GALIL</td>       
      </tr>

      </table>

  </div>

  
  <div id="prescrição" class="tabcontent">
    <h3>Prescrição</h3>
    
    <table>
      <tr>
        <th>Tipo</th>
        <th>Dt. Solicit.</th>
        <th>Atend.</th>
        <th>Tp. Pr.</th>
        <th>Tipo Prescrição</th>
        <th>Prescrição</th>
        <th>Item</th>
        <th>Elemento</th>
        <th>Código</th>
        <th>Descrição</th>
        <th>Descrição Complementar</th>
        <th>Opção Comercial</th>
        <th>Dose</th>
        <th>Uni</th>
        <th>Fração</th>
        <th>Via</th>
        <th>Freq.</th>
        <th>Qtde. Tot.</th>
      </tr>

      <tr>
        <td>DIETA</td>
        <td>14/05/2022</td>
        <td>127863512574</td>
        <td>1</td>
        <td>Pr. Médica 24ds</td>
        <td>1276351</td>
        <td>001</td>
        <td>01</td>
        <td>9097123</td>
        <td>LEITE MATERNO LIVRE DEMANDA</td>
        <td>PESO 2440G</td>
        <td></td>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td>06/06</td>
        <td>1</td>      
      </tr>

      <tr>
        <td>DIETA</td>
        <td>14/05/2022</td>
        <td>127863512574</td>
        <td>1</td>
        <td>Pr. Médica 24ds</td>
        <td>1276351</td>
        <td>001</td>
        <td>01</td>
        <td>9097123</td>
        <td>LEITE MATERNO LIVRE DEMANDA</td>
        <td>PESO 2440G</td>
        <td></td>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td>06/06</td>
        <td>1</td>      
      </tr>
      
      <tr>
        <td>DIETA</td>
        <td>14/05/2022</td>
        <td>127863512574</td>
        <td>1</td>
        <td>Pr. Médica 24ds</td>
        <td>1276351</td>
        <td>001</td>
        <td>01</td>
        <td>9097123</td>
        <td>LEITE MATERNO LIVRE DEMANDA</td>
        <td>PESO 2440G</td>
        <td></td>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td>06/06</td>
        <td>1</td>      
      </tr>
      
      <tr>
        <td>DIETA</td>
        <td>14/05/2022</td>
        <td>127863512574</td>
        <td>1</td>
        <td>Pr. Médica 24ds</td>
        <td>1276351</td>
        <td>001</td>
        <td>01</td>
        <td>9097123</td>
        <td>LEITE MATERNO LIVRE DEMANDA</td>
        <td>PESO 2440G</td>
        <td></td>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td>06/06</td>
        <td>1</td>      
      </tr>

      </table>
  </div>

  <!---------------------------------------------------------Prontuário--------------------->
  
<div>       
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content">
        <header class="w3-container"> 
          <span onclick="document.getElementById('id01').style.display='none'" 
          class="w3-button">&times;</span>
          
        </header>
        <div class="w3-container">
            <div class="table-responsive">
                <table id="pacientes">
                    <thead>
                        <tr>
                            <th>Prontuário</th>
                            <th>Nome</th>
                            <th>Data Nasc.</th>                            
                            <th>Plano</th>
                            <th>Filiação</th>
                            <th>Pasta</th>
                            <th>Pront. Antigo</th>
                            <th>RG</th>
                            <th>Cartão SUS</th>
                            <th>Matrícula</th>
                            <th>Unid.</th>
                            <th>CPF</th>
                        </tr>
                    </thead>
                </table>
                      
            </div>            
        </div> 
      </div>
    </div>
  </div>
  
<!-------------------------------------------------------------------------------------------------->

  <script>
  function mudarAba(evt, nomeTabela) 
  {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) 
    {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) 
    {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(nomeTabela).style.display = "block";
    evt.currentTarget.className += " active";
  }
  </script>

   <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
      if (!e.target.matches('.dropbtn')) {
      var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
          myDropdown.classList.remove('show');
        }
      }
    }
    </script>

    <script>
        $(document).ready(function() 
        {
            //DesenhaTabela();
            //CarregarTabela();
            NovoTeste();
        });

        function NovoTeste(){
            $("#pacientes").DataTable
            ({
                dom: 'Bfrtip',
                buttons: [
                'copy', 'csvHtml5', 'excelHtml5'
                ],

             data: null,
                language: {
                    "sProcessing": "Processando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "Resultado não encontrado",
                    "semptyTable": "Tabela vazia",
                    "sSearch": "Buscar:",
                    "sInfo": "Mostrando registros de _START_ a _END_ do total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros de 0 a 0 do total de 0 registros",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Carregaando...",
                    //=================================
                    "oPaginate": {
                        "sFirst": "Primeira",
                        "sLast": "Última",
                        "sNext": "Próxima",
                        "sPrevious": "Anterior"
                    }
                },

                'ajax': 
                {
                    url:'/Home/GetList',
                    type: 'GET',
                    datatype:'json'
                },
                'columns':
                [
                    {'data':'prontuario'},
                    {'data':'nome'},
                    {'data':'dataNasc'},
                    {'data':'plano'},
                    {'data':'filiacao'},
                    {'data':'pasta'},
                    {'data':'prontAntigo'},
                    {'data':'rg'},
                    {'data':'cartaoSUS'},
                    {'data':'matricula'},
                    {'data':'unid'},
                    {'data':'cpf'}
                ]
            });
        }

        //function CarregarTabela(){
        //    var valor = null;
        //     $.ajax({
        //        type: 'GET'
        //        , url: ""

        //        , contentType: 'application/x-www-form-urlencoded'
        //        , dataType: 'json'
        //        , async: false
        //        , success: function (dados, status) {
        //            if (dados.data.length > 0) {
        //                console.log('sucesso');
        //                valor = dados;
        //                //console.log(valor);
        //            }
        //            else {
        //                console.log(dados);
        //                console.log('vazio');
        //            }
        //        }
        //        , error: function (xmlHttpRequest, status, err) {
        //            console.log("erro");
        //            return Error;
        //        }
        //    });

        //    console.log(valor);
        //    return valor;
            
        //}

        //function DesenhaTabela(){
        //    var valores = CarregarTabela();
        //    tabpacientes = $("#pacientes").DataTable
        //    ({
        //        dom: 'Bfrtip',
        //        buttons: [
        //        'copy', 'csvHtml5', 'excelHtml5'
        //        ],

        //     data: valores.data,
        //        language: {
        //            "sProcessing": "Processando...",
        //            "sLengthMenu": "Mostrar _MENU_ registros",
        //            "zeroRecords": "Resultado não encontrado",
        //            "semptyTable": "Tabela vazia",
        //            "sSearch": "Buscar:",
        //            "sInfo": "Mostrando registros de _START_ a _END_ do total de _TOTAL_ registros",
        //            "sInfoEmpty": "Mostrando registros de 0 a 0 do total de 0 registros",
        //            "sUrl": "",
        //            "sInfoThousands": ",",
        //            "sLoadingRecords": "Carregaando...",
        //            //=================================
        //            "oPaginate": {
        //                "sFirst": "Primeira",
        //                "sLast": "Última",
        //                "sNext": "Próxima",
        //                "sPrevious": "Anterior"
        //            }
        //        },
        //        columnDefs: [{
        //            orderable: false,
        //            className: 'select-checkbox',
        //            targets:   0
        //        }],
        //        select: {
        //            style:    'os',
        //            selector: 'td:first-child'
        //        },
        //        pageLength: 25,
        //        columns:
        //        [   
        //            {
        //                className: "text-center", title: "Prontuário", "render": function (data, type, row, meta) {
        //                    return row.prontuario
        //                }
        //            },
        //            {
        //                className: "text-center", title: "Nome", "render": function (data, type, row, meta) {
        //                    return row.nome
        //                }
        //            },
        //            {
        //                className: "text-center ", title: "Data Nasc.", "render": function (data, type, row, meta) {
        //                    return row.dataNasc
        //                }
        //            }
        //        ]
        //    });


  
        //}
    </script>

    <script>

            var tabela = document.querySelector("#pacientes");
            var idclicou = null;

            tabela.addEventListener("dblclick", function(event)
            {
                console.log("Fui clicado com duplo clique");
                      
                idclicou = event.target.parentNode.firstChild.innerHTML;
                console.log(idclicou);

                location.href = '/Home/PEP?codpac='+idclicou;

                //$.ajax
                //({
                //    type: "POST",
                //    url:'/Home/EnviarCodPac?codpac='+idclicou,
                //    datatype: "json",
                //    async : false,
                //     success: function(result) { console.log('oi') },
                //    error: function(req, status, error) { console.log(status) }
                //});
           
            });

            
        
    </script>

    <script>
        
    </script>

    <script src="js/site.js"></script>
</body>
</html> 